<% I18n.with_options scope: 'navbar' do |i18n| %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to i18n.t('brand_name'), root_path, class: 'navbar-brand' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= i18n.t('menu.vehicles') %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= active_link_to i18n.t('menu.dropdown.vehicle.create'), new_vehicle_path %>
              <%= active_link_to i18n.t('menu.dropdown.vehicle.list'), vehicles_path %>
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= i18n.t('menu.customers') %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= active_link_to i18n.t('menu.dropdown.customer.create'), new_customer_path %>
              <%= active_link_to i18n.t('menu.dropdown.customer.list'), customers_path %>
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Vendas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= active_link_to i18n.t('menu.dropdown.sale.create'), new_sale_path %>
              <%= active_link_to i18n.t('menu.dropdown.sale.list'), sales_path %>
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.dropdown -->
        </ul><!-- /.nav.navbar-nav -->

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, '#' %></li>
            <li><%= link_to t('actions.logout'), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to t('actions.login'), new_user_session_path %></li>
          <% end %>
        </ul><!-- nav navbar-nav navbar-right -->

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>
