<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-3'><%= form.input :cpf %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-3'><%= form.input :full_name %></div>
    <div class='col-md-3'><%= form.input :birth_date, as: :string %></div>
    <div class='col-md-2'><%= form.input :rg %></div>
    <div class='col-md-1'><%= form.input :rg_sender %></div>
    <div class='col-md-2'><%= form.input :rg_expedition, as: :string %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-3'><%= form.input :place_birth %></div>
    <div class='col-md-1'><%= form.input :place_birth_uf %></div>
    <div class='col-md-2'><%= form.input :nacionality %></div>
    <div class='col-md-3'><%= form.input :mother %></div>
    <div class='col-md-3'><%= form.input :father %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-2'><%= form.input :postal_code %></div>
    <div class='col-md-3'><%= form.input :address %></div>
    <div class='col-md-2'><%= form.input :neighborhood %></div>
    <div class='col-md-2'><%= form.input :adjunct %></div>
    <div class='col-md-2'><%= form.input :city %></div>
    <div class='col-md-1'><%= form.input :state %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-2'><%= form.input :phone %></div>
    <div class='col-md-2'><%= form.input :cell_phone %></div>
    <div class='col-md-3'><%= form.input :email %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->
