<h1><%= t('.title') %></h1>

<table>
  <thread>
    <tr>
      <th><%= t('.list.name') %></th>
      <th><%= t('.list.cpf') %></th>
      <th></th>
    </tr>
  </thread>
  <tbody>
    <%= content_tag_for :tr, @customers do |customer| %>
      <td><%= customer.full_name %></td>
      <td><%= customer.cpf %></td>
      <td><%= link_to t(:edit, scope: 'actions'), edit_customer_path(customer) %></td>
    <% end %>
  </tbody>
</table>
