<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-2'><%= form.input :license_plate, input_html: { maxlength: 8 } %></div>
  </div><!-- /.form-inputs -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-3'><%= form.input :brand %></div>
    <div class='col-md-3'><%= form.input :version %></div>
    <div class='col-md-2'><%= form.input :maker_year %></div>
    <div class='col-md-2'><%= form.input :model_year %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-3'><%= form.input :color %></div>
    <div class='col-md-3'><%= form.input :fuel %></div>
    <div class='col-md-3'><%= form.input :renavam %></div>
    <div class='col-md-3'><%= form.input :chassi %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->

<div class='row'>
  <div class='form-inputs'>
    <div class='col-md-3'><%= form.input :city %></div>
    <div class='col-md-1'><%= form.input :uf %></div>
    <div class='col-md-3'><%= form.input :owner %></div>
    <div class='col-md-3'><%= form.input :old_license_plate %></div>
  </div><!-- /.form-inputs' -->
</div><!-- /.row -->
