<h1><%= t('.title') %></h1>

<table>
  <thread>
    <tr>
      <th><%= t('.list.brand') %></th>
      <th><%= t('.list.version') %></th>
      <th><%= t('.list.year_model') %></th>
      <th></th>
    </tr>
  </thread>
  <tbody>
    <%= content_tag_for :tr, @vehicles do |vehicle| %>
      <td><%= vehicle.brand %></td>
      <td><%= vehicle.version %></td>
      <td><%= "#{vehicle.maker_year}/#{vehicle.model_year}" %></td>
      <td><%= link_to t(:edit, scope: 'actions'), edit_vehicle_path(vehicle) %></td>
    <% end %>
  </tbody>
</table>
