<div class='row'>
  <div class='col-lg-12'>
    <%= simple_form_for @sale do |f| %>
      <%= f.error_notification %>

      <% I18n.with_options scope: 'forms.sale' do |i18n| %>
        <fieldset name='vehicle-informations'>
          <legend><%= i18n.t('vehicle_informations') %></legend>
          <%= f.simple_fields_for :vehicle_attributes, @sale.vehicle do |fv| %>
            <%= render partial: 'vehicles/form_fields', locals: { form: fv} %>
          <% end %>
        </fieldset><!-- /.vehicle-fields -->

        <fieldset name='seller-informations'>
          <legend><%= i18n.t('seller_informations') %></legend>
          <%= f.simple_fields_for :seller_attributes, @sale.seller do |fs| %>
            <%= render partial: 'customers/form_fields', locals: { form: fs } %>
          <% end %>
        </fieldset><!-- /.seller-fields -->

        <fieldset name='purchaser-informations'>
          <legend><%= i18n.t('purchaser_informations') %></legend>
          <%= f.simple_fields_for :purchaser_attributes, @sale.purchaser do |fp| %>
            <%= render partial: 'customers/form_fields', locals: { form: fp } %>
          <% end %>
        </fieldset><!-- /.purchaser-fields -->

        <fieldset name='sale-informations'>
          <legend><%= i18n.t('sale_informations') %></legend>

          <div class='row'>
            <div class='form-inputs'>
              <div class='col-md-2'><%= f.input :sale_price %></div>
              <div class='col-md-2'><%= f.input :sale_date, as: :string %></div>
              <div class='col-md-2'><%= f.input :incoming_invoice_number %></div>
              <div class='col-md-2'><%= f.input :incoming_invoice_date, as: :string %></div>
            </div><!-- /.form-inputs' -->
          </div><!-- /.row -->

          <div class='row'>
            <div class='form-inputs'>
              <div class='col-md-2'><%= f.input :purchase_price %></div>
              <div class='col-md-2'><%= f.input :purchase_date, as: :string %></div>
              <div class='col-md-2'><%= f.input :output_invoice_number %></div>
              <div class='col-md-2'><%= f.input :output_invoice_date, as: :string %></div>
            </div><!-- /.form-inputs' -->
          </div><!-- /.row -->

          <div class='row'>
            <div class='form-inputs'>
              <div class='col-md-5'><%= f.input :observation %></div>
              <div class='col-md-2'><%= f.input :brokerage, as: :boolean %></div>
            </div><!-- /.form-inputs' -->
          </div><!-- /.row -->
        </fieldset>

        <div class='form-actions'><%= f.button :submit %></div>
      <% end %><!-- /I18n.with_default -->
    <% end %><!-- /simple_form_for -->
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
