<div class='row'>
  <div class='col-md-12'>
    <div class='page-header'>
      <h3><%= Sale.human_attribute_name(:vehicle) %></h3>
    </div>
    <%= render @sale.vehicle %>

    <div class='page-header'>
      <h3><%= Sale.human_attribute_name(:seller) %></h3>
    </div>
    <%= render @sale.seller %>

    <div class='page-header'>
      <h3><%= Sale.human_attribute_name(:purchaser) %></h3>
    </div><!-- /.page-header -->
    <%= render @sale.purchaser %>

    <div class='page-header'>
      <h3><%= Sale.model_name.human %></h3>
    </div><!-- /.page-header -->

    <div class='row'>
      <div class='col-md-3'>
        <p><%= label_value(@sale, :sale_price) { number_to_currency(@sale.sale_price) } %></p>
      </div>
      <div class='col-md-3'>
        <p><%= label_value(@sale, :sale_date) { l(@sale.sale_date) if @sale.sale_date } %></p>
      </div>
      <div class='col-md-3'><p><%= label_value(@sale, :incoming_invoice_number) %></p></div>
      <div class='col-md-3'>
        <p><%= label_value(@sale, :incoming_invoice_date) { l(@sale.incoming_invoice_date) if @sale.output_invoice_date } %></p>
      </div>
      <div class='col-md-3'>
        <p><%= label_value(@sale, :purchase_price) { number_to_currency(@sale.purchase_price) } %></p>
      </div><!-- /.col-md-2 -->
      <div class='col-md-3'>
        <p><%= label_value(@sale, :purchase_date) { l(@sale.purchase_date) if @sale.purchase_date } %></p>
      </div><!-- /.col-md-3 -->
      <div class='col-md-3'><p><%= label_value(@sale, :output_invoice_number) %></p></div>
      <div class='col-md-3'>
        <p><%= label_value(@sale, :output_invoice_date) { l(@sale.output_invoice_date) if @sale.output_invoice_date } %></p>
      </div>
      <div class='col-md-2'>
        <p><%= label_value(@sale, :brokerage) { t(@sale.brokerage.to_s, scope: :boolean) } %></p>
      </div>
      <div class='col-md-12'><p><%= label_value(@sale, :observation) %></p></div>
    </div><!-- ./row -->
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->
